@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
body  {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
  padding : 0px;
}

/* Barre de navigation */
nav  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
}

nav h1 {
    font-size: 20px;
}

nav .onglets {
    display: flex;
    flex-wrap: wrap;
}

nav .onglets p {
    font-size: 17px;
    margin-right:  10px;
    cursor: pointer;
}

nav .onglets input {
    margin: 8px 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
}
/* Fin barre de navidation */

/* Début header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 50px;
    max-width: 500px;
    text-align: center; 
}

header button {
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
/* Fin header */

/* Section principale */
.main{
    margin: 20px;
    margin-top: 80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
/* Toutes les cartes */
.cartes{
    display: flex;
    flex-wrap: wrap;
}
/* Fin de cartes */
/* Fin de la section principale  */